/* title text font */
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

/* normal text font */
@font-face {
    font-family: 'AileronRegular';
    src: url('fonts/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.parallax {
    background-image: url(images/startingpage.png);
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* for mobile, tablet, and smaller screens only */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.start-screen {
    text-align: center;
    background-color: black;
    opacity: 20%;
}

p .start-screen {
    opacity: 100%;
    color: black;
}